
.icon-industrial-building:before { content: '\e800'; } /* '' */
.icon-air:before { content: '\e801'; } /* '' */
.icon-water:before { content: '\e802'; } /* '' */
.icon-droplet:before { content: '\e803'; } /* '' */