{% extends 'SQMApp/layout.html'%}



{% block body_block %}

{% load staticfiles %}
<script type="text/javascript" src="{% static 'custom-ajax-escenarios.js' %}"></script>

	<!--contenido escenarios-->
	<div class="page-content-wrapper">
		<div class="page-content">
			<!--modal minimizado -->
			<div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
							<h4 class="modal-title">Modal title</h4>
						</div>
						<div class="modal-body">
							Widget settings form goes here
						</div>
						<div class="modal-footer">
							<button type="button" class="btn blue">Save changes</button>
							<button type="button" class="btn default" data-dismiss="modal">Close</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->
			<!--breadcrumbs-->
			<h3 class="page-title">
			Escenarios
			</h3>
			<div class="page-bar">
				<ul class="page-breadcrumb">
					<li>
						<i class="fa fa-home"></i>
						<a href="/SQM">Inicio</a>
						<i class="fa fa-angle-right"></i>
						<a href="#">Planificación {{planificacion_id}}</a>
					</li>
				</ul>
			</div>
			<!--end page header-->
			<div class="clearfix">
			</div>
			<div class="row">
	<div class="col-md-12 col-sm-12">
		<div class="descLayout">
			<div class="portlet box blue">
				<div class="portlet-title">
					<div class="caption">
						<i class="fa fa-calendar"></i> Planificación {{planificacion_id}} / {{ai}} - {{af}}
					</div>
					<div class="tools">
						<p>Última fecha de modificación: {{fecha_ultima_mod}}</p>

					</div>
				</div>
				<div class="portlet-body util-btn-margin-bottom-5">
					<div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Planificación</th>
                                            <th>Año inicio</th>
                                            <th>Año fin</th>
                                            <th>Comentarios</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="text-align:center;"><i class="fa fa-star"></i></td>
                                            <td>Planificación {{planificacion_id}}</td>
                                            <td>{{ai}}</td>
                                            <td>{{af}}</td>
                                            <td>{{comentario}}</td>
                                        </tr>

                                    </tbody>
                        </table>
                    </div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="clearfix"></div>
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<div class="descLayout">
						<div class="portlet box blue">
							<div class="portlet-title">
								<div class="caption">
									 Escenarios
								</div>
								<div class="tools">
								</div>
							</div>
							<div class="portlet-body util-btn-margin-bottom-5">
								<button class="btn btn-primary sep" name="load" id="load">Agregar  <i class="fa fa-plus"></i></button>
								<button class="btn btn-primary sep" name="save" id="save">Eliminar  <i class="fa fa-trash-o"></i></button>
								<button class="btn btn-primary sep" id="duplicar">Duplicar  <i class="fa fa-files-o"></i></button>
								<button class="btn btn-primary sep" id="compartir">Compartir  <i class="fa fa-share-alt"></i></button>
								<button class="btn btn-primary sep" id="comparar">Comparar  <i class="fa fa-compress"></i></button>
							    <button class="btn btn-primary sep" name="save" data-planificacion='{{planificacion_id}}' id="saveTable">Guardar <i class="fa fa-floppy-o"></i></button>

								<br>
							  <pre id="table-console" class="console" style="display:none;"></pre>
							  
							  <br>

							<!--table-->
							  <div id="table-index" data-esc='{{escenarios}}'></div>


							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--end content -->
	<!-- sidebar -->
	<a href="javascript:;" class="page-quick-sidebar-toggler"><i class="icon-c>
lose"></i></a>
{% endblock %}
