{% extends 'SQMApp/layout.html'%}

{% block body_block %}

{% load staticfiles %}
<script type="text/javascript" src="{% static 'custom-ajax-faena.js' %}"></script>

	<!--contenido escenarios-->
	<div class="page-content-wrapper">
		<div class="page-content">
			<!--modal -->
			<div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
							<h4 class="modal-title">Modal title</h4>
						</div>
						<div class="modal-body">
							Widget settings form goes here
						</div>
						<div class="modal-footer">
							<button type="button" class="btn blue">Save changes</button>
							<button type="button" class="btn default" data-dismiss="modal">Close</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->
			<!--breadcrumbs-->
			<h3 class="page-title">
			Plantas
			</h3>
			<div class="page-bar">
				<ul class="page-breadcrumb">
					<li>
						<i class="fa fa-home"></i>
						<a href="index.html">Inicio</a>
						<i class="fa fa-angle-right"></i>
						<a href="index.html">Planificación {{planificacion_id}}</a>
						<i class="fa fa-angle-right"></i>
						<a href="#">Escenario {{escenario_id}}</a>
						<i class="fa fa-angle-right"></i>
						<a href="#">Plantas</a>

					</li>
				</ul>
			</div>
			<div class="clearfix">
			</div>
			<div class="row">
	<div class="col-md-12 col-sm-12">
		<div class="descLayout">
			<div class="portlet box blue">
				<div class="portlet-title">
					<div class="caption">
						<i class="demo-icon icon-industrial-building" style="font-size: 20px;margin-top: -1px;"></i> Resumen de Plantas
					</div>
					<div class="tools">
					</div>
				</div>
				<div class="portlet-body util-btn-margin-bottom-5">
					<div class="portlet-body">
										<div class="row">
											<div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
												<div class="dashboard-stat blue-madison">
													<div class="visual">
														<i class="fa fa-cubes"></i>
													</div>
													<div class="details">
														<div class="number">
															17
														</div>
														<div class="desc">
															Pozas
														</div>
													</div>

												</div>
											</div>
											<div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
												<div class="dashboard-stat red-intense">
													<div class="visual">
														<i class="fa fa-cube"></i>
													</div>
													<div class="details">
														<div class="number">
															4
														</div>
														<div class="desc">
															Planta<br>NPT-I
														</div>
													</div>
													<div class="check">
														<span class="bullet_notification">2</span>
													</div>
												</div>
											</div>
											<div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
												<div class="dashboard-stat green-haze">
													<div class="visual">
														<i class="fa fa-tint"></i>
													</div>
													<div class="details">
														<div class="number">
															8
														</div>
														<div class="desc">
															Planta NPT-II
														</div>
													</div>
												</div>
											</div>
											<div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
												<div class="dashboard-stat purple-plum">
													<div class="visual">
														<i class="fa fa-bolt"></i>
													</div>
													<div class="details">
														<div class="number">
															6
														</div>
														<div class="desc">
															Planta<br> NPT-III
														</div>
													</div>
												</div>
											</div>
											<div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
												<a href="#">
													<div class="dashboard-stat blue-madison">
														<div class="visual">
															<i class="fa fa-money"></i>
														</div>
														<div class="details">
															<div class="number">
																78
															</div>
															<div class="desc">
																Planta<br>NPT-IV
															</div>
														</div>
													</div>
												</a>
											</div>
										</div>
										<div class="clearfix margin-bottom-20">
										</div>
									</div>
				</div>
			</div>
		</div>
	</div>
</div>
			<!--end page header-->
			<div class="clearfix">
			</div>
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<div class="descLayout">
						<div class="portlet box blue">
							<div class="portlet-title">
								<div class="caption">
									<i class="demo-icon icon-industrial-building" style="font-size: 20px;margin-top: -1px;"></i> Operación Anual
								</div>
								<div class="tools">
								</div>
							</div>
							<div class="portlet-body util-btn-margin-bottom-5">
								<button class="btn btn-primary sep" name="load" id="load">Agregar  <i class="fa fa-plus"></i></button>
								<button class="btn btn-primary sep" name="save" id="save">Eliminar  <i class="fa fa-trash-o"></i></button>

							    <button class="btn btn-primary sep" name="save" data-faena='{{faena_id}}' data-escenario='{{escenario_id}}' id="saveTable" >Guardar <i class="fa fa-floppy-o"></i></button>
								<br>
								<br>
							  <pre id="table-console" class="console"></pre>
							<!--table-->
							  <div id="table-index" data-faena='{{cafm}}'></div>
								<br>
								<div id="table2-index" data-faena='{{con}}'></div>
								<br>
								<div id="table3-index" data-faena='{{cos}}'></div>
								<br>
								<div id="table4-index" data-faena='{{pro}}'></div>
								<br>


							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--end content -->
	<!-- sidebar -->
	<a href="javascript:;" class="page-quick-sidebar-toggler"><i class="icon-close"></i></a>
{% endblock %}
