<div class="page-footer">
	<div class="page-footer-inner">
		 <a href="http://www.simula.uc.cl/" target="_blank">Simula UC - 2015</a>
	</div>
	<div class="scroll-to-top">
		<i class="icon-arrow-up"></i>
	</div>
</div>
