{% extends 'SQMApp/layout.html'%}

{% block body_block %}

{% load staticfiles %}
<script type="text/javascript" src="{% static 'custom-ajax-fuentes.js' %}"></script>
<title>Fuentes de Agua - Fuentes</title>
	<!--contenido escenarios-->
	<div class="page-content-wrapper">
		<div class="page-content">
			<!--modal -->
			<div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
							<h4 class="modal-title">Modal title</h4>
						</div>
						<div class="modal-body">
							Widget settings form goes here
						</div>
						<div class="modal-footer">
							<button type="button" class="btn blue">Save changes</button>
							<button type="button" class="btn default" data-dismiss="modal">Close</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->
			<!--breadcrumbs-->
			<h3 class="page-title">
			Plantas
			</h3>
			<div class="page-bar">
				<ul class="page-breadcrumb">
					<li>
						<i class="fa fa-home"></i>
						<a href="index.html">Inicio</a>
						<i class="fa fa-angle-right"></i>
						<a href="index.html">Planificación {{planificacion_id}}</a>
						<i class="fa fa-angle-right"></i>
						<a href="#">Escenario {{escenario_id}}</a>
						<i class="fa fa-angle-right"></i>
						<a href="#">Fuentes</a>

					</li>
				</ul>
			</div>
			<div class="clearfix">
			</div>

			<!--end page header-->
			<div class="clearfix">
			</div>
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<div class="descLayout">
						<div class="portlet box blue">
							<div class="portlet-title">
								<div class="caption">
									<i class="demo-icon icon-industrial-building" style="font-size: 20px;margin-top: -1px;"></i> Operación Anual
								</div>
								<div class="tools">
								</div>
							</div>
							<div class="portlet-body util-btn-margin-bottom-5">
								<button class="btn btn-primary sep" name="load" id="load">Agregar  <i class="fa fa-plus"></i></button>
								<button class="btn btn-primary sep" name="save" id="save">Eliminar  <i class="fa fa-trash-o"></i></button>

							    <button class="btn btn-primary sep" name="save" data-escenario='{{escenario_id}}' id="saveTable" >Guardar <i class="fa fa-floppy-o"></i></button>
								<br>
								<br>
							  <pre id="table-console" class="console"></pre>
							<!--table-->
							  <div id="table-index" data-fuentes='{{fuentes}}'></div>


							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--end content -->
	<!-- sidebar -->
	<a href="javascript:;" class="page-quick-sidebar-toggler"><i class="icon-close"></i></a>
{% endblock %}
