{% load staticfiles %}
<!-- header -->
<div class="page-header navbar navbar-fixed-top">
	<!-- inner header -->
	<div class="page-header-inner">
		<!-- logo -->
		<div class="page-logo text-center">
			<a href="/SQM/">
				<img src="{% static 'img/logo.png' %}" alt="logo" class="logo-default"/>
			</a>
			<div class="menu-toggler sidebar-toggler hide"></div>
		</div>
		<!-- end logo -->
		<!-- responsive menu toggler -->
		<a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
		</a>
		<!-- end menu toggler-->
		<!-- top nav menu-->
		<div class="top-menu">
			<ul class="nav navbar-nav pull-right">
				<!-- login dropdown-->
				<!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
				<li class="dropdown dropdown-user">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
						<i class="fa fa-user"></i>
						<span class="username username-hide-on-mobile">
							{{request.user.first_name}} {{request.user.last_name}}</span>
						<i class="fa fa-angle-down"></i>
					</a>
					<ul class="dropdown-menu dropdown-menu-default">
						<li>
							<a href="#">
								<i class="fa fa-key"></i> Cambiar contraseña </a>
						</li>
						<li>
							<a href="/SQM/login">
								<i class="fa fa-sign-out"></i> Cerrar sesión </a>
						</li>
					</ul>
				</li>
				<!-- end login dropdown -->
			</ul>
		</div>
		<!-- end top nav menu -->
	</div>
	<!-- end inner header -->
</div>
<!--end header -->
