{% extends 'SQMApp/layout.html' %}

{% block body_block %}
	<!--contenido -->
	{% load staticfiles %}
	<script type="text/javascript" src="{% static 'custom-ajax.js' %}"></script>

	<div class="page-content-wrapper">
		<div class="page-content">
			<!--modal editar bloque -->
			<div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
							<h4 class="modal-title">Editar</h4>
						</div>
						<div class="modal-body">
							Bla bla
						</div>
						<div class="modal-footer">
							<button type="button" class="btn blue">Guardar</button>
							<button type="button" class="btn default" data-dismiss="modal">Cerrar</button>
						</div>
					</div>
					<!-- /.end modal-content -->
				</div>
				<!-- /.end modal-dialog -->
			</div>
			<!-- /.end modal -->
			<!--Título-->
			<h3 class="page-title">
				Productos Comerciales
			</h3>
			<h4 class="page-title">
				{% if user.is_authenticated %}
	    		Hello {{ user.username }}!
	  		{% else %}
	    		Hello world!
	  		{% endif %}
			</h4>
			<div class="page-bar">
				<ul class="page-breadcrumb">
					<li>
						<i class="fa fa-home"></i>
						<a href="index.html">Inicio</a>
						<i class="fa fa-angle-right"></i>
						<a href="index.html">Planificación 1</a>
						<i class="fa fa-angle-right"></i>
						<a href="index.html">Escenario 1</a>
						<i class="fa fa-angle-right"></i>
						<a href="index.html">Productos</a>
						<i class="fa fa-angle-right"></i>
						<a href="index.html">Productos Comerciales</a>
					</li>
				</ul>
			</div>
			<!-- END PAGE HEADER-->
			<div class="clearfix">
			</div>
			<!--end row -->
			<div class="row">
				<div class="col-md-6">
					<button class="btn btn-primary sep" name="load" id="load">Agregar  <i class="fa fa-plus"></i></button>
					<button class="btn btn-primary sep" name="save" id="save">Eliminar  <i class="fa fa-trash-o"></i></button>
				</div>
			</div>
			<br>
			<!--init row -->
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<div class="descLayout">
						<div class="portlet box blue">
							<div class="portlet-title">
								<div class="caption">
									<i class="fa fa-cog fa-lg"></i> Proceso 1
								</div>
								<div class="tools">
									<a href="javascript:;" class="collapse"><!--expand -->
								</a>
								<a href="" class="fullscreen" data-original-title="" title="">
								</a>
								<a href="#portlet-config" data-toggle="modal" class="config">
								</a>
							</div>
						</div>
						<div class="portlet-body util-btn-margin-bottom-5">

							<div class="controls">
						    <button name="save" id="saveTable" class="intext-btn">Save</button>
						  </div>
							</BR>
						  <pre id="table-console" class="console"></pre>
						<!--table-->
						  <div id="table-index" data-posts='{{posts}}'></div>
						<!--end table-->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--end row -->
	</div>
</div>

<a href="javascript:;" class="page-quick-sidebar-toggler"><i class="icon-close"></i></a>

{% endblock %}
