<!DOCTYPE html>
{% load staticfiles %}
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<!--ᕦ(͡°͜ʖ͡°)ᕤ-->
<html class="no-js">
	<head lang="en">
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1" name="viewport"/>
		<meta content="SQM" name="description"/>
		<meta content="SQM" name="author"/>

		<!--scripts -->
		<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
		<!-- IMPORTANT! Load jquery-ui-1.10.3.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
		<script src="{% static 'scripts/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js' %}" type="text/javascript"></script>

		<!--Bootstrap JS -->
		<script src="{% static 'scripts/plugins/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'scripts/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js' %}" type="text/javascript">
		</script>
		
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
		
		<!--toastr -->
		<script type="text/javascript" src="{% static 'scripts/plugins/bootstrap-toastr/toastr.js' %}"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'scripts/plugins/bootstrap-toastr/toastr.css' %}">
		<!--end toastr -->
		
		<script src="{% static 'scripts/plugins/jquery.blockui.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'scripts/plugins/jquery.cokie.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'scripts/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'scripts/sqm.js' %}" type="text/javascript"></script>
		<script src="{% static 'scripts/layout.js' %}" type="text/javascript"></script>
		<script src="{% static 'scripts/quick-sidebar.js' %}" type="text/javascript"></script>
		<script src="{% static 'scripts/demo.js' %}" type="text/javascript"></script>
		<script type="text/javascript" src="{% static 'handsontable-0.16.0/dist/handsontable.full.js' %}"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'handsontable-0.16.0/dist/handsontable.full.css' %}" />
		<link href="{% static 'css/custom.css' %}" rel="stylesheet" type="text/css"/>
		<script>
		jQuery(document).ready(function() {
			Metronic.init(); // init  core componets
			Layout.init(); // init layout
			QuickSidebar.init(); // init quick sidebar
			Demo.init(); // init demo features
		});
		</script>



		<!--end scripts -->
	
		<!--fonts & icons -->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
		<link href="{% static 'scripts/plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css"/>


		<!--fontello -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/fontello/css/animation.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/fontello/css/fontello.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/fontello/css/fontello-codes.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/fontello/css/fontello-ie7-codes.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/fontello/css/fontello-ie7-codes.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/foundation/foundation-icons.css' %}">
		<!--end fontello -->
		<!--Bootstrap CSS -->
		<link rel="stylesheet" type="text/css" href="{% static 'scripts/plugins/bootstrap/css/bootstrap.min.css' %}">
		<link href="{% static 'scripts/plugins/bootstrap-switch/css/bootstrap-switch.min.css'%}" rel="stylesheet" type="text/css"/>
		<!--SQM CSS -->
		<link href="{% static 'css/components-rounded.css' %}" id="style_components" rel="stylesheet" type="text/css"/>
		<link href="{% static 'css/plugins.css' %}" rel="stylesheet" type="text/css"/>
		<link href="{% static 'css/layout.css' %}" rel="stylesheet" type="text/css"/>
		<link href="{% static 'css/themes/darkblue.css' %}" rel="stylesheet" type="text/css" id="style_color"/>

		<!--[if lt IE 9]>
		<script src="assets/global/plugins/respond.min.js"></script>
		<script src="assets/global/plugins/excanvas.min.js"></script>
		<![endif]-->
		<!--jquery -->
		
	</head>
	<body class="page-header-fixed page-quick-sidebar-over-content page-style-square">
		<!--include header fixed top-->
		{% include "SQMApp/header.html"%}
		<div class="clearfix"></div>
		<div class="page-container">
			<!--include sidebar menu-->
			<!--https://docs.djangoproject.com/en/1.6/ref/templates/builtins/#url-->
			{% if request.get_full_path = "/SQM/escenarios/" %}
				{% include "SQMApp/sidebar_escenario.html"%}
			{% endif %}


			{% if request.get_full_path = "/SQM/planificacion/{{planificacion_id}}/escenario/{{escenario_id}}/productos_comerciales/"%}
				{% include "SQMApp/sidebar_menu.html"%}
			
			{% endif %}
			<!--include full body -->
			{% block body_block %}{% endblock %}
		</div>
		{% include "SQMApp/footer.html"%}
	</body>
</html>
