{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" dir="rtl">
<!--<![endif]-->

<head>
	<meta charset="utf-8" />
	<title>SQM - Login</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta content="" name="description" />
	<meta content="" name="author" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />

	<link href="{% static 'scripts/plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'scripts/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />


	<link href="{% static 'css/login-soft-rtl.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'css/components.css' %}" id="style_components" rel="stylesheet" type="text/css" />
	<link href="{% static 'css/plugins-rtl.css' %}" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" href="favicon.ico" />


</head>

<body class="login">
	<div class="logo">
		<img src="{% static 'img/logo.png' %}" alt="" />
	</div>
	<div class="menu-toggler sidebar-toggler">
	</div>
	<div class="content">
		<form class="login-form" action="/SQM/login/" method="post">
			{% csrf_token %}
			<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9">alguien@sqm.com</label>
				<div class="input-icon">
					<i class="fa fa-envelope"></i>
					<input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="alguien@sqm.com" name="username" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9">Contraseña</label>
				<div class="input-icon">
					<i class="fa fa-lock"></i>
					<input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Contraseña" name="password" />
				</div>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary pull-right">
					Iniciar Sesión
				</button>
				<div class="forget-password text-left">
					<a href="#" id="forget-password" data-toggle="modal" data-target="#recuperar">Olvidé mi contraseña.</a>
				</div>
			</div>
		</form>
	</div>
	</div>
	<div class="copyright">
		<a href="http://www.simula.uc.cl/" target="_blank">Simula UC - 2015</a>
	</div>
	<!--modal password recovery -->
	<div id="recuperar" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<div class="text-left">
						<p>Ingrese su e-mail para reestablecer su contraseña.</p>
						<p>Luego recibirá un correo con las instrucciones correspondientes.</p>
						<div class="panel-body">
							<fieldset>
								<div class="input-icon">
									<i class="fa fa-envelope"></i>
									<input class="form-control placeholder-no-fix" id="txtEmail" type="text" autocomplete="off" placeholder="alguien@sqm.com" name="username" />
								</div>
							</fieldset>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<input class="btn btn-primary" value="Reestablecer contraseña" type="submit" onclick='Javascript:validarEmail();'>
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
				</div>
			</div>
		</div>
	</div>
	</div>
	<!--Simple validador de email -->
	<script type="text/javascript">
		function validarEmail() {
			var email = document.getElementById('txtEmail');
			var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
			if (!filter.test(email.value)) {
				alert('Ingrese un e-mail válido.');
				email.focus;
				return false;
			}
		}
	</script>
</body>

</html>
