{% extends 'SQMApp/layout.html'%}
{% block body_block %}
	<!--contenido escenarios-->
	{% load staticfiles %}
	<script type="text/javascript" src="{% static 'custom-ajax-planificaciones.js' %}"></script>
	<title>Planificaciones - SQM</title>
	<div class="page-content-wrapper">
		<div class="page-content">
			<!--modal -->
			<div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
							<h4 class="modal-title">Modal title</h4>
						</div>
						<div class="modal-body">
							Widget settings form goes here
						</div>
						<div class="modal-footer">
							<button type="button" class="btn blue">Save changes</button>
							<button type="button" class="btn default" data-dismiss="modal">Close</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->
			<!--breadcrumbs-->
			<h3 class="page-title">
			Planificaciones
			</h3>
			<div class="page-bar">
				<ul class="page-breadcrumb">
					<li>
						<i class="fa fa-home"></i>
						<a href="/SQM/">Inicio</a>
					</li>
				</ul>
			</div>
			<!-- END PAGE HEADER-->
			<div class="clearfix">
			</div>
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<div class="descLayout">
						<div class="portlet box blue">
							<div class="portlet-title">
								<div class="caption">
									<i class="fa fa-calendar fa-5x"></i> Planificaciones
								</div>
							</div>
							<div class="portlet-body util-btn-margin-bottom-5">
								<button class="btn btn-primary sep" name="load" id="load">Agregar  <i class="fa fa-plus"></i></button>
								<button class="btn btn-primary sep" name="save" id="save">Eliminar  <i class="fa fa-trash-o"></i></button>
								<button class="btn btn-primary sep" id="duplicar">Duplicar  <i class="fa fa-files-o"></i></button>

								
							    <button class="btn btn-primary sep" name="save" id="saveTable" >Guardar <i class="fa fa-floppy-o"></i></button>
							
								<br>
								<br>
							  <pre id="table-console" class="console" style="display:none;"></pre>
							<!--table-->
							  <div id="table-index" data-plans='{{plans}}'></div>
							<!--end table-->

							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<!--end content -->
	<!-- sidebar -->
	<a href="javascript:;" class="page-quick-sidebar-toggler"><i class="icon-close"></i></a>

{% endblock %}
