{% extends 'SQMApp/layout.html'%}

{% block body_block %}

			<div class="page-content-wrapper">
				<div class="page-content">
					<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
					<div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
									<h4 class="modal-title">Modal title</h4>
								</div>
								<div class="modal-body">
									Widget settings form goes here
								</div>
								<div class="modal-footer">
									<button type="button" class="btn blue">Save changes</button>
									<button type="button" class="btn default" data-dismiss="modal">Close</button>
								</div>
							</div>
							<!-- /.modal-content -->
						</div>
						<!-- /.modal-dialog -->
					</div>
					<!-- /.modal -->
					<h3 class="page-title">
						Productos
					</h3>
					<div class="page-bar">
						<ul class="page-breadcrumb">
							<li>
								<i class="fa fa-home"></i>
								<a href="index.html">Inicio</a>
								<i class="fa fa-angle-right"></i>
								<a href="index.html">Planificación 1</a>
								<i class="fa fa-angle-right"></i>
								<a href="index.html">Escenario 1</a>
								

							</li>
							
						</ul>
					</div>
					<!-- END PAGE HEADER-->
					<div class="clearfix">
					</div>
					<div class="row">
						<div class="col-md-12 col-sm-12">
							<div class="descLayout">
								<div class="portlet box blue">
									<div class="portlet-title">
										<div class="caption">
											<i class="fa fa-flask"></i> Resumen de Productos
										</div>
									</div>
									<div class="portlet-body util-btn-margin-bottom-5">
										<div class="portlet-body">
											<div class="row">
				<div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
					<div class="dashboard-stat blue-madison">
						<div class="visual">
							<i class="fa fa-cubes"></i>
						</div>
						<div class="details">
							<div class="number">
								 17
							</div>
							<div class="desc">
								 Productos Intermedios
							</div>
						</div>
						
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
					<div class="dashboard-stat red-intense">
						<div class="visual">
							<i class="fa fa-cube"></i>
						</div>
						<div class="details">
							<div class="number">
								 4
							</div>
							<div class="desc">
								 Materias<br> Primas
							</div>
						</div>						
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
					<div class="dashboard-stat green-haze">
						<div class="visual">
							<i class="fa fa-tint"></i>
						</div>
						<div class="details">
							<div class="number">
								 8
							</div>
							<div class="desc">
								 Purgas
							</div>
						</div>					
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
					<div class="dashboard-stat purple-plum">
						<div class="visual">
							<i class="fa fa-bolt"></i>
						</div>
						<div class="details">
							<div class="number">
								 6
							</div>
							<div class="desc">
								 Consumos
							</div>
						</div>						
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
					<a href="#">
						<div class="dashboard-stat blue-madison">
							<div class="visual">
								<i class="fa fa-money"></i>
							</div>
							<div class="details">
								<div class="number">
									 78
								</div>
								<div class="desc">
									 Productos Comerciales
								</div>
							</div>						
						</div>
						</a>
				</div>

			</div>						
			<div class="clearfix margin-bottom-20">
			</div>														
						</div>										
									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
			<!-- END CONTENT -->
			<!-- BEGIN QUICK SIDEBAR -->
			<a href="javascript:;" class="page-quick-sidebar-toggler"><i class="icon-close"></i></a>
{% endblock%}