<!-- sidebar -->
<div class="page-sidebar-wrapper">
	<div class="page-sidebar navbar-collapse collapse">
		<!-- sidebar menu -->
		<ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="100">
			<li class="sidebar-toggler-wrapper">
				<!-- sidebar btn-->
				<div class="sidebar-toggler">
				</div>
				<!-- end sidebar btn -->
			</li>
			<li class="start open"> <!--class="start open active" -->
			<a href="javascript:;">
				<i class="fa fa-flask"></i>
				<span class="title">Productos</span>
				<span class="arrow "></span>
			</a>
			<ul class="sub-menu">
				<li>
					<a href="#">Productos Intermedios</a>
				</li>
				<li>
					<a href="#">Materias Primas
						<span class="badge badge-danger">2</span>
					</a>
				</li>
				<li>
					<a href="#">Purgas</a>
				</li>
				<li>
					<a href="#">Consumos</a>
				</li>
				<li>
					<a href="#">Productos Comerciales
						<span class="badge badge-danger">4</span>
					</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="javascript:;">
				<i class="demo-icon icon-air"></i>

				<span class="title">Pozas</span>
			</a>
		</li>
		<li>
			<a href="javascript:;">
				<i class="demo-icon icon-water"></i>
				<span class="title">Fuentes de Agua</span>
			</a>
		</li>
		<li>
			<a href="javascript:;">
				<i class="demo-icon icon-industrial-building"></i>
				<span class="title">Plantas</span>
				<span class="arrow "></span>
			</a>
			<ul class="sub-menu">
				<li>
					<a href="#">Planta NPT-l</a>
				</li>
				<li>
					<a href="#">Planta NPT-ll</a>
				</li>
				<li>
					<a href="#">Planta NPT-lll</a>
				</li>
				<li>
					<a href="#">Planta NPT-lV</a>
				</li>
			</ul>
		</li>

		<li>
			<a href="javascript:;">
				<i class="step fi-mountains size-21"></i>
				<span class="title">Faenas</span>
				<span class="arrow "></span>
			</a>
			<ul class="sub-menu">
				<li>
					<a href="#">Nueva Victoria</a>
				</li>
				<li>
					<a href="#">Pedro de Valdivia</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="#">
				<i class="fa fa-cogs"></i>
				<span class="title">Optimizar</span>
				<span class="selected"></span>
			</a>
		</li>
		<li>
			<a href="#">
				<i class="fa fa-tachometer"></i>
				<span class="title">Resultados</span>
				<span class="selected"></span>
			</a>
		</li>

	</ul>
	<!-- sidebar menu -->
</div>
</div>
<!--end sidebar -->
