<div class="page-sidebar-wrapper">
				<div class="page-sidebar navbar-collapse collapse">
			
					<ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
						<!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
						<li class="sidebar-toggler-wrapper">
							<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
							<div class="sidebar-toggler">
							</div>
							<!-- END SIDEBAR TOGGLER BUTTON -->
						</li>
						<br>
						<li class="active">
							<a href="#">
								<i class="fa fa-calendar"></i>
								<span class="title">Planificación 1</span>
								<span class="selected"></span>
							</a>
						</li>
						<li class="start open active">
							<a href="javascript:;">
								<i class="fa fa-list"></i>
								<span class="title">Escenarios Comparados</span>
								<span class="arrow "></span>
							</a>
							<ul class="sub-menu">
								<li>
									<button type="button" class="btn btn-circle btn-primary optimizado">Optimizado</button>
									<a href="ecommerce_index.html">
									P1E3</a>
								</li>
								<li>
									<button type="button" class="btn btn-circle btn-primary optimizado">Optimizado</button>
									<a href="ecommerce_orders.html">
									P1E4</a>
								</li>
							</ul>
						</li>
						
						<li>
							<a href="javascript:;">
								<i class="fa fa-compress"></i>
								<span class="title">Comparación</span>
								<span class="arrow "></span>
							</a>
							<ul class="sub-menu">
								<li>
									<a href="ui_general.html">
									Utilización</a>
								</li>
								<li>
									<a href="ui_buttons.html">
									Producción</a>
								</li>
								<li>
									<a href="ui_confirmations.html">
									Consumos</a>
								</li>
								
								<li>
									<a href="ui_colors.html">
									Inventarios</a>
								</li>
								<li>
									<a href="ui_typography.html">
									Demandas</a>
								</li>
								<li>
									<a href="ui_tabs_accordions_navs.html">
									Flujos</a>
								</li>
							</ul>
						</li>
						
					</ul>
					<!-- END SIDEBAR MENU -->
				</div>
			</div>